Lab Assignment - 3: Implementation of Data Preprocessing Steps

Reetam Dan

E23CSEU0283

Section 1: General Data Processing Tasks

Given a dataset data.csv with missing values. Load the CSV file and write a Python script for
each of the following tasks:

In [4]:
import pandas as pd

Q1: Identify the columns with missing values.

In [5]:
df=pd.read_csv('data.csv')
df.isnull()

    numerical_1  numerical_2  categorical_1  categorical_2  target
0         False        False          False          False   False
1         False        False          False          False   False
2          True        False          False          False   False
3         False        False           True          False   False
4         False        False          False           True   False
5         False        False          False          False   False
6         False        False          False          False   False
7         False        False          False          False   False
8          True        False          False          False   False
9         False         True          False          False   False
10        False         True          False          False   False

In [6]:
df.isnull().sum()

numerical_1      2
numerical_2      2
categorical_1    1
categorical_2    1
target           0
dtype: int64

Q2: Encode categorical columns categorical_1 and categorical_2 using one-hot
encoding.

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

df=pd.read_csv('data.csv')
df

one_hot=pd.get_dummies(df,drop_first=True)

print("one hot encoded dataframe:\n",one_hot)

one hot encoded dataframe:
     numerical_1  numerical_2  target  categorical_1_B  categorical_2_Y
0           1.0         10.0       1            False            False
1           2.0         20.0       0             True             True
2           NaN         30.0       1            False            False
3           4.0         40.0       0            False             True
4           5.0         50.0       1             True            False
5         100.0         60.0       0            False             True
6           7.0         70.0       1             True            False
7           8.0         80.0       0            False             True
8           NaN         90.0       1             True            False
9          10.0          NaN       0            False             True
10         10.0          NaN       0            False             True

Q3: Encode categorical columns categorical_1 and categorical_2 using label
encoding.

In [8]:
label_encoders={}
for col in df.select_dtypes(include=['object']).columns:
  le=LabelEncoder()
  df[col]=le.fit_transform(df[col])
  label_encoders[col]=le

print("label encoded dataframe:\n",df.head())

label encoded dataframe:
    numerical_1  numerical_2  categorical_1  categorical_2  target
0          1.0         10.0              0              0       1
1          2.0         20.0              1              1       0
2          NaN         30.0              0              0       1
3          4.0         40.0              2              1       0
4          5.0         50.0              1              2       1

Q4: Standardize numerical columns numerical_1 and numerical_2 using
StandardScaler.

In [9]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler

df=pd.read_csv('data.csv')

numerical_columns=df.select_dtypes(include=['float64','int64']).columns

scaler=StandardScaler()
df_standardized=df.copy()
df_standardized[numerical_columns]=scaler.fit_transform(df[numerical_columns])

print("standardized dataframe:\n",df_standardized.head())

standardized dataframe:
    numerical_1  numerical_2 categorical_1 categorical_2    target
0    -0.515651    -1.549193             A             X  1.095445
1    -0.482022    -1.161895             B             Y -0.912871
2          NaN    -0.774597             A             X  1.095445
3    -0.414763    -0.387298           NaN             Y -0.912871
4    -0.381133     0.000000             B           NaN  1.095445

Section 2: Sentiment Analysis

Given a dataset sentiment.csv with 100 rows and five columns id, text, date, sentiment, and
source related to sentiment analysis. Perform the following data pre-processing steps on the
CSV.

Q1: Write a Python code to load the CSV file into a pandas DataFrame.

In [10]:
import pandas as pd

df = pd.read_csv('sentiment_analysis.csv')
print(df.head())

   id                                               text        date  \
0   1  Over myself focus protect often impact at indu...  11-02-2023
1   2  Look agree contain she work size about majorit...  04-05-2021
2   3  Toward sport glass admit matter ever soldier a...  09-14-2023
3   4                                                NaN  07-21-2024
4   5                                                NaN  08-17-2022

  sentiment    source
0   neutral   twitter
1  positive   twitter
2  positive  facebook
3  positive   twitter
4   neutral  facebook

Q2: Write a Python code to handle missing values by filling them with a placeholder value
(e.g., 'Unknown'). (Note: You can first search for missing values in the dataframe)

In [11]:
df.isnull().sum()

id            0
text         10
date          0
sentiment    10
source       10
dtype: int64

In [12]:
df.fillna('Unknown')

,id,text,date,sentiment,source
0,1,Over myself focus protect often impact at indu...,11-02-2023,neutral,twitter
1,2,Look agree contain she work size about majorit...,04-05-2021,positive,twitter
2,3,Toward sport glass admit matter ever soldier a...,09-14-2023,positive,facebook
3,4,Unknown,07-21-2024,positive,twitter
4,5,Unknown,08-17-2022,neutral,facebook
...,...,...,...,...,...
95,96,General hand central talk serve international ...,02-02-2024,positive,twitter
96,97,Foreign month meet senior current remain sing ...,11-29-2021,positive,facebook
97,98,Understand today yard treatment line music bad...,07-01-2023,neutral,Unknown
98,99,Social message kid save cover field individual.,08-24-2020,positive,facebook
99,100,Really herself offer power like president happ...,04-22-2021,neutral,facebook

Q3: Write a Python code to remove punctuation from the text column.

In [13]:
import string
df['text'] = df['text'].str.translate(str.maketrans('', '', string.punctuation))

print(df.head())

   id                                               text        date  \
0   1  Over myself focus protect often impact at indu...  11-02-2023
1   2  Look agree contain she work size about majorit...  04-05-2021
2   3  Toward sport glass admit matter ever soldier a...  09-14-2023
3   4                                                NaN  07-21-2024
4   5                                                NaN  08-17-2022

  sentiment    source
0   neutral   twitter
1  positive   twitter
2  positive  facebook
3  positive   twitter
4   neutral  facebook

Q4: Write a Python code to tokenize the text column using word
_tokenize method.

In [14]:
import pandas as pd
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')

df['text'] = df['text'].fillna('')

df['text'] = df['text'].astype(str)

df['tokenized_text'] = df['text'].apply(word_tokenize)
print(df.head())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

   id                                               text        date  \
0   1  Over myself focus protect often impact at indu...  11-02-2023
1   2  Look agree contain she work size about majorit...  04-05-2021
2   3  Toward sport glass admit matter ever soldier a...  09-14-2023
3   4                                                     07-21-2024
4   5                                                     08-17-2022

  sentiment    source                                     tokenized_text
0   neutral   twitter  [Over, myself, focus, protect, often, impact, ...
1  positive   twitter  [Look, agree, contain, she, work, size, about,...
2  positive  facebook  [Toward, sport, glass, admit, matter, ever, so...
3  positive   twitter                                                 []
4   neutral  facebook                                                 []

Q5: Write a Python code to convert the tokenized text back to a single string for each row.

In [15]:
df['detokenized_text'] = df['tokenized_text'].apply(lambda tokens: " ".join(tokens))

print(df.head())

   id                                               text        date  \
0   1  Over myself focus protect often impact at indu...  11-02-2023
1   2  Look agree contain she work size about majorit...  04-05-2021
2   3  Toward sport glass admit matter ever soldier a...  09-14-2023
3   4                                                     07-21-2024
4   5                                                     08-17-2022

  sentiment    source                                     tokenized_text  \
0   neutral   twitter  [Over, myself, focus, protect, often, impact, ...
1  positive   twitter  [Look, agree, contain, she, work, size, about,...
2  positive  facebook  [Toward, sport, glass, admit, matter, ever, so...
3  positive   twitter                                                 []
4   neutral  facebook                                                 []

                                    detokenized_text
0  Over myself focus protect often impact at indu...
1  Look agree contain she work size about majorit...
2  Toward sport glass admit matter ever soldier a...
3
4